.so-widget-sow-image-grid-default-002c5dc2c561 .sow-image-grid-wrapper {
  padding-top: 0px;
  margin: 0 0px;
}
.so-widget-sow-image-grid-default-002c5dc2c561 .sow-image-grid-wrapper .sow-image-grid-image {
  padding: 0 0px 0px 0px;
}