.so-widget-sow-image-grid-default-6064c147b0fc .sow-image-grid-wrapper {
  padding-top: 30px;
  margin: 0 -30px;
}
.so-widget-sow-image-grid-default-6064c147b0fc .sow-image-grid-wrapper .sow-image-grid-image {
  padding: 0 30px 30px 30px;
}