.so-widget-sow-contact-form-default-b106b7827691 .sow-form-field {
  display: block;
  margin-bottom: 1em;
  zoom: 1;
}
.so-widget-sow-contact-form-default-b106b7827691 .sow-form-field:before {
  content: '';
  display: block;
}
.so-widget-sow-contact-form-default-b106b7827691 .sow-form-field:after {
  content: '';
  display: table;
  clear: both;
}
.so-widget-sow-contact-form-default-b106b7827691 .sow-form-field > label {
  display: block;
  margin-bottom: 5px;
  
  text-align: left;
}
.so-widget-sow-contact-form-default-b106b7827691 .sow-form-field > label strong {
  
  color: #ffffff;
}
.so-widget-sow-contact-form-default-b106b7827691 .sow-form-field > label.sow-form-field-label-left {
  float: left;
  margin-right: 10px;
}
.so-widget-sow-contact-form-default-b106b7827691 .sow-form-field > label.sow-form-field-label-right {
  float: right;
  margin-left: 10px;
}
.so-widget-sow-contact-form-default-b106b7827691 .sow-form-field .sow-field-container {
  overflow: hidden;
  display: block;
}
.so-widget-sow-contact-form-default-b106b7827691 .sow-form-field .sow-field-container textarea:focus,
.so-widget-sow-contact-form-default-b106b7827691 .sow-form-field .sow-field-container input:focus,
.so-widget-sow-contact-form-default-b106b7827691 .sow-form-field .sow-field-container > :focus {
  outline-style: solid;
  outline-color: #f5952e;
  outline-width: 1px;
}
.so-widget-sow-contact-form-default-b106b7827691 .sow-form-field textarea,
.so-widget-sow-contact-form-default-b106b7827691 .sow-form-field .sow-text-field {
  display: block;
  width: 100%;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 0px;
  
  border: 1px solid #313b48;
  
  
  
  
  
}
.so-widget-sow-contact-form-default-b106b7827691 .sow-form-field.sow-form-field-checkboxes ul,
.so-widget-sow-contact-form-default-b106b7827691 .sow-form-field.sow-form-field-radio ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.so-widget-sow-contact-form-default-b106b7827691 .sow-form-field.sow-form-field-checkboxes ul li,
.so-widget-sow-contact-form-default-b106b7827691 .sow-form-field.sow-form-field-radio ul li {
  margin: 0;
}
.so-widget-sow-contact-form-default-b106b7827691 .sow-form-field.sow-form-field-checkboxes ul label,
.so-widget-sow-contact-form-default-b106b7827691 .sow-form-field.sow-form-field-radio ul label {
  margin-bottom: 0;
}
.so-widget-sow-contact-form-default-b106b7827691 .sow-form-field.sow-form-field-checkboxes ul input,
.so-widget-sow-contact-form-default-b106b7827691 .sow-form-field.sow-form-field-radio ul input {
  float: left;
  margin: 0.4em 0.5em 0 0;
  height: auto;
}
.so-widget-sow-contact-form-default-b106b7827691 .sow-form-field .sow-form-field-description {
  font-size: 0.9em;
  margin-top: 0.2em;
  margin-left: 0.2em;
  color: #999999;
  font-style: italic;
}
.so-widget-sow-contact-form-default-b106b7827691 .sow-recaptcha {
  margin-bottom: 1em;
}
.so-widget-sow-contact-form-default-b106b7827691 .sow-contact-form {
  padding: 0px;
  border: #c0c0c0 none 0px;
  background-color: #313b48;
}
.so-widget-sow-contact-form-default-b106b7827691 .sow-contact-form .sow-error {
  background: #fce4e5;
  border: 1px solid #ec666a;
  color: #ec666a;
  border-radius: 2px;
  padding: 5px;
  font-size: 0.8em;
  list-style: none;
  margin: 0 0 10px 0;
}
.so-widget-sow-contact-form-default-b106b7827691 .sow-contact-form .sow-error li {
  margin: 0;
}
.so-widget-sow-contact-form-default-b106b7827691 .sow-contact-form .sow-submit-styled .sow-submit {
  color: #ffffff;
  background: #313b48;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #313b48), color-stop(1, #313b48));
  background: -ms-linear-gradient(bottom, #313b48, #313b48);
  background: -moz-linear-gradient(center bottom, #313b48 0%, #313b48 100%);
  background: -o-linear-gradient(#313b48, #313b48);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#313b48', endColorstr='#313b48', GradientType=0);
  border: 1px solid #f5952e;
  border-radius: 16px;
  font-weight: 500;
  
  padding: 10px 20px;
  display: inline-block;
  box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.5);
}
.so-widget-sow-contact-form-default-b106b7827691 .sow-contact-form .sow-submit-styled .sow-submit:disabled {
  color: #ffffff;
  background: #5a6d85;
  border: 1px solid #fac68f;
}